%h1 Welcome to Training
%p Dear #{@student.first_name}
%p Your account was suspended
%p To reactivate your account click the below link
=link_to "Reactivate Account", reactivate_student_student_url(@student), method: :get